<VirtualHost *:80>
  DocumentRoot {{ document_root }}
  ServerName {{ domain_name }}
  ServerAlias www.{{ domain_name }}
  ErrorLog /var/log/httpd/{{ domain_name }}-error-log
  CustomLog /var/log/httpd/{{ domain_name }}-acces-log common
</VirtualHost>
